<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/edit.css">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="head">
      <h1>Edit Skate Spot</h1>
    </div>
    <div class="container">
      <form action="/spots/<%=spots.id%>?_method=PUT" method="POST">
       Name: <input type="text" name="name" value="<%=spots.name%>"/><br/>
      Description: <input type="text" name="description" value="<%=spots.description%>" /><br/>
      Address: <input type="text" name="address" value="<%=spots.address%>" /><br/>
      Image: <input type="text" name="img" value="<%=spots.img%>"/><br/>


      <input type="submit" value="Submit Changes"/>

    </form>
    </div>
    <div class="footer">
      <a href="/">Return Home</a>
    </div>
  </body>
</html>
